@{
    ViewData["Title"] = "Gerenciador de Hobbies Menu";
}

<div class="text-center">
    <h1 class="display-4 text-primary">Bem Vindo!</h1>
    <p>"Menu principal para criar e gerenciar seus hobbies"</p>
    <p>Alguma vez você acabou se esquecendo do aniversario de sua namorada ou de algum amigo seu? Ou talvez não sabia o que poderia entregar para ele e alguma data especial? Com esse intuito o gerenciador de hobbies será de grande utilidade para você! Nosso objetivo é de ter uma interface de facil gerenciamento, deixando o mais simples possivel para o usuario, desse jeito você pode entrar em qualquer momento e modificar ou criar!<p>
    <p>Primeiro crie seu usuario ou logge seu usuario existente, após isso cadastre os hobbies de seus amigos ou usuarios<p>
</div>