@{
    ViewData["Title"] = "Gerenciador de Hobbies Menu";
}

<div class="text-center">
    <h1 class="display-4 text-primary">Bem Vindo!</h1>
    <p class="text-secondary">"Menu principal para criar e gerenciar seus hobbies"</p>
    <p class="text-secondary">Aplicação feita para gerenciar hobbies de amigos para possiveis presentes ou falar sobre gostos<p>
    <p class="text-secondary">Primeiro crie seu usuario ou logge seu usuario existente, após isso cadastre os hobbies de seus amigos ou usuarios<p>
</div>
